body{
    background-color: #0D1F2D;
}
h1{
    color: #9EA3B0;
    text-align: center;
}
.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70vh;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem
}
.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    background-color: white;
    color: black;
    font-size: 8vmin;
}
p{
    color: white;
    text-align: center;
    font-size: 2rem;
}
.reset{
 padding: 1rem;
  font-size: 1.25rem;
  background-color: #191913;
  color: #fff;
  border-radius: 1rem;
  border: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
.new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
}